---

---

@import 'colors'

html
body
  width 100%

  h1
  h2
    margin 0

  a
    color pinky
    text-decoration none
    &:active
    &:focus
    &:visited
      color pinky
    &:hover
      color white
      background pinky

  table
    margin auto
    td
      padding-right 20px

body
  margin 0 auto
  background black
  color #ddd
  font-family 'Open-Sans', sans-serif
  font-size 14px

@import 'parallax'
