.container
  &.first
    display flex
    align-items center
    justify-content center
    height 100vh

.module
  p
    font-weight 300
    text-align justify
    line-height 170%

.module
  .container
    padding-top 50px
    padding-bottom 50px

.module
  &.parallax
    height 100vh
    background-position 50% 50%
    background-repeat no-repeat
    background-attachment fixed
    display flex
    align-items center
    justify-content center
    background-size cover

.module
  &.parallax
    h1
    h2
      color pinky
      // color yellow
      font-family 'Roboto', sans-serif
      line-height 600px
      font-weight 900
      text-align center
      text-shadow 2px 2px 3px rgba(20,20,20,0.6)
      &.true-lies
        font-family 'true lies', sans-serif
        text-shadow 3px 13px 6px rgba(20,20,20,0.6)
        transform rotate(-2deg)
      &:hover
        cursor default
    h1
      font-size 12.5vw
      letter-spacing -3px
    h2
      font-size 8vw
      letter-spacing -1px

.module
  &#about
    background-image url('../img/01-3-1920.jpg')

  &#actions
    background-image url('../img/03-6-1920.jpg')

  &#pastfuture
    background-image url('../img/01-6-1920.jpg')

  &#contact
    background-image url('../img/01-4-1920.jpg')

@media all and (min-width 600px)
  .module
    font-size 18px

@media all and (min-width 960px)
  .module
    &.parallax
      h1
        letter-spacing -10px
        &.true-lies
          letter-spacing 4px
      h2
        letter-spacing -4px
